/* 1230px */
@media (max-width: 1230px) {
	.header__container {
		min-height: calc(80px + (153 - 80) * ((100vw - 320px) / (1230 - 320)));
	}
 	.title {
		font-size: calc(40px + (56 - 40) * ((100vw - 320px) / (1230 - 320)));
	}
 	.main {
		padding-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1230 - 320)));
	}
	.store {
		padding-top: calc(40px + (80 - 40) * ((100vw - 320px) / (1230 - 320)));
		padding-bottom: calc(45px + (90 - 45) * ((100vw - 320px) / (1230 - 320)));
	}
	.store__title {
		margin-bottom: calc(50px + (86 - 50) * ((100vw - 320px) / (1230 - 320)));
	}
	.categories {
		padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1230 - 320)));
		padding-bottom: calc(45px + (90 - 45) * ((100vw - 320px) / (1230 - 320)));
	}
	.categories__title {
		margin-bottom: calc(50px + (80 - 50) * ((100vw - 320px) / (1230 - 320)));
	}
	.categories__items {
		column-gap: calc(30px + (70 - 30) * ((100vw - 320px) / (1230 - 320)));
	}
	.brands {
		padding-top: calc(65px + (130 - 65) * ((100vw - 320px) / (1230 - 320)));
		padding-bottom: calc(90px + (180 - 90) * ((100vw - 320px) / (1230 - 320)));
	}
	.brands__title {
		margin-bottom: calc(35px + (75 - 35) * ((100vw - 320px) / (1230 - 320)));
	}
	.brands__items {
		row-gap: calc(40px + (80 - 40) * ((100vw - 320px) / (1230 - 320)));
	}
	.why {
		padding-top: calc(45px + (90 - 45) * ((100vw - 320px) / (1230 - 320)));
		padding-bottom: calc(45px + (90 - 45) * ((100vw - 320px) / (1230 - 320)));
	}
	.why__title {
		margin-bottom: calc(35px + (75 - 35) * ((100vw - 320px) / (1230 - 320)));
	}
	.reviews {
		padding-top: calc(30px + (240 - 30) * ((100vw - 320px) / (1230 - 320)));
		padding-bottom: calc(30px + (240 - 30) * ((100vw - 320px) / (1230 - 320)));
	}
	.reviews__title {
		margin-bottom: calc(50px + (110 - 50) * ((100vw - 320px) / (1230 - 320)));
	}
	.swiper-reviews__pagination {
		position: relative;
		bottom: 0;
		justify-content: center;
		transform: translate(0px, 0px);
		padding-top: 50px;
	}
	.favorite {
		padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1230 - 320)));
	}
	.favorite__title {
		font-size: calc(36px + (48 - 36) * ((100vw - 320px) / (1230 - 320)));
	}
	.favorite__title:not(:last-child) {
		margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1230 - 320)));
	}
}

/* 1092px */
@media (max-width: 1092px) {
	.header__container {
		gap: 50px;
	}
	.menu__list {
		column-gap: 40px;
	}
	.main__image img {
		width: 100%;
	}
	.main__content {
		flex: 0 0 60%;
		padding-bottom: 0px;
	}
	.main__decor {
		flex: 0 0 40%;
	}
}

/* 991.98px */
@media (max-width: 991.98px) {
	.body-store__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.categories__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.why__items {
		grid-template-columns: repeat(1, auto);
		justify-content: stretch;
	}
	.slide-swiper-reviews {
		flex-direction: column;
	}
	.slide-swiper-reviews__picture {
		margin-bottom: 25px;
	}
	.favorite__container {
		flex-direction: column;
	}
	.favorite__title {
		text-align: center;
	}
	.favorite__body {
		padding-right: 0px;
	}
	.apps-favorite {
		justify-content: center;
		margin-bottom: 20px;
	}
	.body-footer {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.body-footer__column:first-child {
		flex: 1 1 100%;
	}
	.body-footer__column_full {
		flex: 0 1 50%;
	}
	.menu-footer {
		display: flex;
		gap: 40px;
		justify-content: space-between;
	}
}

/* 767.98px */
@media (max-width: 767.98px) {
	.main__content {
		flex: 1 1 100%;
		padding-right: 0px;
	}
	.main__decor {
		display: none;
	}
	.brands__items {
		grid-template-columns: repeat(2, auto);
		justify-content: center;
	}
	.item-why {
		padding: 20px;
	}
}

/* 560px */
@media (max-width: 560px) {
	.body-store__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.item__image:not(:last-child) {
		margin-bottom: 20px;
	}
	.item__title {
		justify-self: center;
	}
	.item__price {
		justify-self: center;
	}
}

/* 479.98px */
@media (max-width: 479.98px) {
	.header__container {
		gap: 25px;
	}
	.menu {
		padding: 0;
	}
	.menu__list {
		column-gap: 20px;
	}
	.header__logo {
		width: 28px;
		flex: 0 0 28px;
		overflow: hidden;
	}
	.actions-main {
		flex-wrap: wrap;
		justify-content: center;
	}
	.actions-main__button {
		flex: 1 1 100%;
	}
	.actions-main__button:not(:last-child) {
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.categories__items {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
	}
	.slide-swiper-reviews__image {
		width: 270px;
		height: 270px;
	}
	.slide-swiper-reviews__text {
		font-size: 18px;
	}
	.slide-swiper-reviews__name {
		font-size: 18px;
	}
	.slide-swiper-reviews__position {
		font-size: 14px;
	}
	.slide-swiper-reviews__text:not(:last-child) {
		margin-bottom: 40px;
	}
}

/* 425px */
@media (max-width: 425px) {
	.body-store__title {
		font-size: 16px;
	}
	.body-store__all {
		font-size: 12px;
	}
}