/* Обнуление */
@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url(/fonts/CalSans-SemiBold.woff) format("wolf"), url(/fonts/CalSans-SemiBold.woff2)  format("wolf2");
	font-weight: 400;
	font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
* {
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-family: Poppins;
  height: 100%;
  min-height: 320px;
  color: #666666;
}